html {
  background-color: rgb(22, 22, 22);
  color: white;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(40, 40, 40);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-colour);
  border-radius: 20px;
  border: 3px solid rgb(64, 64, 64);
  background-color: rgb(64, 64, 64);
}

/* HEADER */

.header-container {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
  padding: 30px 5px 30px 10px;
  border-bottom: 1px solid rgb(95, 95, 95);
  background-color: rgb(28, 28, 28);
  z-index: 10;
}

.header-dashboard {
  display: flex;
  justify-content: center;
  width: 10%;
}

.header-user {
  display: flex;
  justify-content: center;
  width: 15%;
}

/* SIDEBAR */

.sidebar-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 0;
  height: 100%;
  padding: 100px 15px 30px 15px;
  border-right: 1px solid rgb(95, 95, 95);
  background-color: rgb(28, 28, 28);
  z-index: 9;
}

.category-container {
  display: flex;
  flex-direction: column;
}

/* PAGE CONTENT */

.main-content-container {
  display: flex;
  flex-direction: column;
  padding: 110px 0px 0px 145px;
}

/* MAIN CONTENT */

.main-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.main-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.main-selection-container {
  display: flex;
  justify-content: space-between;
  width: 240px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.main-selection {
  border-bottom: 2px solid rgb(154, 242, 255, 0);
}

.main-selection-selected {
  color: rgb(154, 242, 255);
  border-bottom: 2px solid rgb(154, 242, 255, 1);
}

/* CATEGORY DISPLAY */

.category-display-container {
  display: flex;
  flex-wrap: wrap;
}

.category-content-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 10px 10px 0px;
}
