@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-family: "Inter", sans-serif;
  background-color: rgb(22, 22, 22);
  color: white;
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
}

a:link {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

/*///////////*/
/* SCROLLBAR */
/*///////////*/

.main-content-container::-webkit-scrollbar {
  width: 12px;
}

.main-content-container::-webkit-scrollbar-track {
  background: rgb(40, 40, 40);
}

.main-content-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid rgb(64, 64, 64);
  background-color: rgb(64, 64, 64);
}

.channel-language-option-container::-webkit-scrollbar {
  width: 12px;
}

.channel-language-option-container::-webkit-scrollbar-track {
  background: rgb(40, 40, 40);
  visibility: hidden;
}

.channel-language-option-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid rgb(64, 64, 64);
  background-color: rgb(64, 64, 64);
}

/*////////*/
/* HEADER */
/*////////*/

.header-container {
  display: flex;
  position: sticky;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 25px 0px 25px 0px;
  border-bottom: 1px solid rgb(95, 95, 95);
  background-color: rgb(28, 28, 28);
  z-index: 10;
}

.header-mid-container {
  display: flex;
  justify-content: space-between;
  width: 52%;
  margin-left: 150px;
}

.header-dashboard {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 0;
  padding-left: 20px;
  width: 50px;
  height: 50px;
}

.header-browse {
  display: flex;
  cursor: pointer;
  padding-left: 20px;
  width: 50px;
  font-size: 1.5em;
  transition: 50ms;
}

.header-browse:hover {
  color: rgb(50, 213, 238);
}

.header-search {
  font-size: 1em;
  padding: 5px 5px 5px 10px;
  width: 35%;
  height: 1.5em;
  border-radius: 5px;
  color: rgb(201, 201, 201);
  border: 2.5px solid rgb(70, 70, 70);
  background-color: rgb(60, 60, 60);
  transition: 100ms;
}

.header-search:hover {
  border: 2.5px solid rgb(109, 109, 109);
}

.header-search::placeholder {
  color: rgb(201, 201, 201);
}

.header-search:focus {
  border-color: rgb(222, 222, 222, 0.6);
  outline: 0 none;
}

.header-user {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  padding-right: 20px;
  width: 50px;
  height: 50px;
}

/*/////////*/
/* SIDEBAR */
/*/////////*/

.sidebar-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 0;
  height: 100%;
  padding: 100px 15px 30px 15px;
  border-right: 1px solid rgb(95, 95, 95);
  background-color: rgb(28, 28, 28);
  z-index: 8;
}

/*//////////////*/
/* PAGE CONTENT */
/*//////////////*/

.main-content-container {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: auto;
  height: 90vh;
  padding: 20px 0px 23px 140px;
}

/*//////////////*/
/* MAIN CONTENT */
/*//////////////*/

.main-container {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-selection-container {
  display: flex;
  justify-content: space-between;
  width: 335px;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.main-selection {
  border-bottom: 2px solid rgb(154, 242, 255, 0);
  transition: 100ms;
}

.main-selection-selected {
  /* color: rgb(154, 242, 255);
  border-bottom: 2px solid rgb(154, 242, 255, 1); */
  color: rgb(50, 213, 238);
  border-bottom: 2px solid rgb(50, 213, 238, 1);

  transition: 100ms;
}

/*//////////////////*/
/* CATEGORY DISPLAY */
/*//////////////////*/

.category-container {
  display: flex;
  flex-direction: column;
}

.category-display-container {
  display: flex;
  flex-wrap: wrap;
}

.category-content-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 10px 10px 0px;
}

.category-thumbnail-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 310px;
  height: 413px;
  border-radius: 6px;
  background-color: rgb(40, 40, 40);
  transition-delay: 50ms;
}

.category-thumbnail-container:hover {
  border-radius: 5px;
  background-color: rgb(50, 213, 238);
  transition-delay: 0s;
}

.category-thumbnail-container:before,
.category-thumbnail-container:after {
  content: "";
  display: block;
  background-color: rgb(50, 213, 238);
  width: 8px;
  height: 8px;
  position: absolute;
  transition: all 0.15s ease;
}

.category-thumbnail-container:before {
  width: 15px;
  top: 1.8px;
  left: 0px;
  transform-origin: top left;
  transform: rotate(-45deg) scale(0);
}

.category-thumbnail-container:after {
  height: 15px;
  right: 1.3px;
  bottom: 1px;
  transform-origin: bottom right;
  transform: rotate(45deg) scale(0);
}

.category-thumbnail {
  display: block;
  position: relative;
  width: 310px;
  border-radius: 5px;
  transform: translate(0, 0);
  transition: all 0.15s ease;
  z-index: 10;
}

.category-thumbnail-container:hover .category-thumbnail {
  transform: translate(10px, -10px);
}

.category-thumbnail-container:hover:before {
  transform: rotate(-45deg) scale(1);
}

.category-thumbnail-container:hover:after {
  transform: rotate(45deg) scale(1);
}

.category-game-title {
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-loading-thumbnail {
  width: 310px;
  height: 413px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgb(40, 40, 40);
}

.category-loading-title {
  width: 80%;
  height: 25px;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  margin-bottom: 10px;
}

/*/////////////////*/
/* CHANNEL DISPLAY */
/*/////////////////*/

.channel-display-container {
  display: flex;
  flex-wrap: wrap;
}

.channel-content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  margin: 10px 10px 0px 0px;
}

.channel-content-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  max-width: 560px;
  margin-bottom: 5px;
}

/* LANGUAGE FILTER */

.channel-language {
  display: flex;
  flex-direction: row;
}

.channel-language-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px 15px 10px;
  width: 320px;
}

.channel-language-input {
  width: 200px;
  margin-left: 10px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  color: rgb(201, 201, 201);
  border: 2.5px solid rgb(70, 70, 70);
  background-color: rgb(60, 60, 60);
  transition: 100ms;
}

.channel-language-input:hover {
  border: 2.5px solid rgb(109, 109, 109);
}

.channel-language-input::placeholder {
  color: rgb(201, 201, 201);
}

.channel-language-input:focus {
  border-color: rgb(222, 222, 222, 0.6);
  outline: 0 none;
}

.channel-language-input-x {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 13px;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
}

.channel-language-option-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: auto;
  width: 219px;
  max-height: 250px;
  top: 39px;
  right: 0;
  border-radius: 5px;
  border: 1px solid rgb(52, 52, 52);
  background-color: rgb(32, 32, 32);
  z-index: 9;
  transition-delay: 100ms;
}

.channel-language-option {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  transition: 100ms;
}

.channel-language-container:focus-within .channel-language-option-container {
  visibility: visible;
  transition-delay: 0ms;
}

.channel-language-option:hover {
  background-color: rgb(20, 20, 20);
}

.channel-language-selected-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.channel-language-selected {
  display: flex;
  align-items: center;
  background-color: rgb(50, 50, 50);
  padding: 5px 5px 5px 10px;
  border-radius: 16px;
  margin: 10px 10px 10px 0px;
}

.channel-language-x {
  cursor: pointer;
  text-align: center;
  width: 25px;
  padding: 0px 1px 2px 1px;
  border-radius: 50%;
  margin-left: 8px;
  background-color: rgb(35, 35, 35);
  transition: 100ms;
}

.channel-language-x:hover {
  background-color: rgb(105, 105, 105);
}

.channel-language-x:active {
  background-color: rgb(91, 91, 91);
}

/* CONTENT */

.channel-content-subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 560px;
  color: rgb(184, 184, 184);
  margin-bottom: 5px;
}

.channel-thumbnail-container {
  display: inline-block;
  position: relative;
  width: 560px;
  height: 316px;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  margin-bottom: 10px;
  transition-delay: 50ms;
}

/* THUMBNAIL HOVER EFFECT */

.channel-thumbnail {
  display: block;
  position: relative;
  width: 560px;
  height: 316px;
  border-radius: 5px;
  transform: translate(0, 0);
  transition: all 0.15s ease;
  z-index: 7;
}

.channel-thumbnail-container:hover {
  background-color: rgb(50, 213, 238);
  transition-delay: 0s;
}

.channel-thumbnail-container:before,
.channel-thumbnail-container:after {
  display: block;
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: rgb(50, 213, 238);
  transition: all 0.15s ease;
}

.channel-thumbnail-container:before {
  width: 15px;
  top: 1.8px;
  left: 0;
  transform-origin: top left;
  transform: rotate(-45deg) scale(0);
}

.channel-thumbnail-container:after {
  width: 14px;
  right: 0;
  bottom: 2.2px;
  transform-origin: bottom right;
  transform: rotate(45deg) scale(0);
}

.channel-thumbnail-container:hover .channel-thumbnail {
  transform: translate(9px, -9px);
}

.channel-thumbnail-container:hover .channel-block {
  transform: translate(9px, -9px);
}

.channel-thumbnail-container:hover .channel-viewers {
  transform: translate(9px, -9px);
}

.channel-thumbnail-container:hover .channel-uptime {
  transform: translate(9px, -9px);
}

.channel-thumbnail-container:hover .channel-live {
  transform: translate(9px, -9px);
}

.channel-thumbnail-container:hover:before {
  transform: rotate(-45deg) scale(1);
}

.channel-thumbnail-container:hover:after {
  transform: rotate(45deg) scale(1);
}

.channel-viewers {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 86%;
  left: 2%;
  padding: 2px 10px 4px 10px;
  border-radius: 5px;
  font-size: 1.1em;
  background-color: rgba(20, 20, 20, 0.65);
  transition: 150ms;
  z-index: 8;
}

.channel-block {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 3.7%;
  right: 2.5%;
  padding: 2px 4px 5px 4px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgb(40, 40, 40, 0.75);
  transition: 150ms;
  z-index: 8;
}

.channel-block:hover {
  background-color: rgb(50, 213, 238, 1);
}

.channel-block:active {
  background-color: rgb(43, 189, 211);
}

.channel-uptime {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 3.7%;
  right: 10%;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  font-size: 1.1em;
  background-color: rgb(40, 40, 40, 0.75);
  transition: 150ms;
  z-index: 8;
}

.channel-clock {
  color: red;
  width: 20px;
  padding-top: 2px;
  margin-right: 5px;
}

.channel-live {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 3.7%;
  left: 2%;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: 600;
  background-color: #eb0400;
  transition: 150ms;
  z-index: 8;
}

/* LOADING */

.channel-loading-thumbnail {
  width: 560px;
  height: 316px;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  margin-bottom: 10px;
}

.channel-loading-title {
  width: 75%;
  height: 25px;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  margin-bottom: 10px;
}

.channel-loading-user {
  width: 50%;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(40, 40, 40);
  margin-bottom: 10px;
}

/*  TAGS */

.channel-tags-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
}

.channel-tags-content {
  padding: 3px 12px 5px 12px;
  margin: 4px 6px 4px 0px;
  border-radius: 16px;
  background-color: rgb(50, 50, 50);
}

/*////////////*/
/* PAGINATION */
/*////////////*/

.pagination-load {
  cursor: pointer;
  border-radius: 5px;
  padding: 7px;
  margin: 10px 0px 0px 13px;
  color: rgb(21, 21, 21);
  color: white;
  border: 2px solid rgb(136, 136, 136);
  background-color: rgb(46, 46, 46);
  transition: 100ms;
}

.pagination-load:hover {
  border: 2px solid rgb(174, 174, 174);
}

.pagination-load:active {
  background-color: rgb(29, 29, 29);
}

/*////////////////////*/
/* SCREEN BREAKPOINTS */
/*////////////////////*/

@media (max-width: 120em) {
  .channel-thumbnail-container {
    width: 500px;
    height: 282px;
  }
  .channel-thumbnail {
    width: 500px;
    height: 282px;
  }
  .channel-loading-thumbnail {
    width: 500px;
    height: 282px;
  }
  .channel-content-title {
    max-width: 500px;
  }
  .channel-content-subtitle {
    max-width: 500px;
  }
  .channel-tags-container {
    max-width: 500px;
  }
  .channel-viewers {
    top: 85.5%;
  }
  .channel-uptime {
    top: 3.7%;
    right: 11%;
  }
}

@media (max-width: 110em) {
  .channel-thumbnail-container {
    width: 450px;
    height: 254px;
  }
  .channel-thumbnail {
    width: 450px;
    height: 254px;
  }
  .channel-loading-thumbnail {
    width: 450px;
    height: 254px;
  }
  .channel-content-title {
    max-width: 450px;
  }
  .channel-content-subtitle {
    max-width: 450px;
  }
  .channel-tags-container {
    max-width: 450px;
  }
  .channel-viewers {
    top: 83.5%;
  }
  .channel-uptime {
    top: 3.7%;
    right: 12%;
  }
}

@media (max-width: 100em) {
  .category-thumbnail-container {
    width: 280px;
    height: 373px;
  }
  .category-thumbnail {
    width: 280px;
  }
  .category-loading-thumbnail {
    width: 280px;
    height: 373px;
  }
  .category-game-title {
    max-width: 260px;
  }
  .channel-thumbnail-container {
    width: 400px;
    height: 226px;
  }
  .channel-thumbnail {
    width: 400px;
    height: 226px;
  }
  .channel-loading-thumbnail {
    width: 400px;
    height: 226px;
  }
  .channel-content-title {
    max-width: 400px;
  }
  .channel-content-subtitle {
    max-width: 400px;
  }
  .channel-tags-container {
    max-width: 400px;
  }
  .channel-viewers {
    top: 82%;
  }
  .channel-uptime {
    top: 3.7%;
    right: 13%;
  }
}

@media (max-width: 90em) {
  .channel-thumbnail-container {
    width: 346px;
    height: 195px;
  }
  .channel-thumbnail {
    width: 346px;
    height: 195px;
  }
  .channel-loading-thumbnail {
    width: 346px;
    height: 195px;
  }
  .channel-content-title {
    max-width: 346px;
  }
  .channel-content-subtitle {
    max-width: 346px;
  }
  .channel-tags-container {
    max-width: 346px;
  }
  .channel-viewers {
    top: 79.5%;
  }
  .channel-uptime {
    top: 3.7%;
    right: 14%;
  }
}

@media (max-width: 60em) {
  .category-thumbnail-container {
    width: 220px;
    height: 295px;
  }
  .category-thumbnail {
    width: 220px;
  }
  .category-loading-thumbnail {
    width: 220px;
    height: 295px;
  }
  .category-game-title {
    max-width: 200px;
  }
  .channel-thumbnail-container {
    width: 346px;
    height: 195px;
  }
  .channel-thumbnail {
    width: 346px;
    height: 195px;
  }
  .channel-loading-thumbnail {
    width: 346px;
    height: 195px;
  }
  .channel-content-title {
    max-width: 346px;
  }
  .channel-language {
    flex-direction: column;
  }
}

@media (max-width: 40em) {
  .sidebar-container {
    display: none;
  }
  .main-content-container {
    padding: 20px 0px 19px 0px;
  }
  .main-container {
    padding-left: 9px;
  }
  .main-title {
    margin-bottom: 10px;
  }
  .main-selection-container {
    margin-bottom: 10px;
    padding-left: 5px;
  }
  .category-display-container {
    padding-left: 5px;
  }
  .category-thumbnail-container:hover .category-thumbnail {
    transform: translate(7px, -7px);
  }
  .category-thumbnail-container:before {
    width: 10px;
    height: 10px;
  }
  .category-thumbnail-container:after {
    width: 10px;
    height: 10px;
  }
  .category-thumbnail-container {
    width: 150px;
    height: 200px;
  }
  .category-thumbnail {
    width: 150px;
  }
  .category-loading-thumbnail {
    width: 150px;
    height: 200px;
  }
  .category-game-title {
    max-width: 150px;
  }
  .channel-display-container {
    padding-left: 5px;
  }
  .channel-language-selected-container {
    padding: 0px 10px 0px 14px;
  }
  .channel-language-container {
    margin: 10px 0px 10px 15px;
  }
  .header-container {
    justify-content: center;
  }
  .header-mid-container {
    width: auto;
    justify-content: center;
    margin-left: 0px;
  }
  .header-search {
    width: 70%;
  }
  .header-user {
    padding-right: 10px;
  }
  .header-dashboard {
    padding-left: 10px;
  }
  .header-browse {
    display: none;
  }
}

@media (max-width: 20em) {
  .main-content-container {
    height: 85vh;
  }
}
